.custom-background {
  background-image: url('../public/fundo_2.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-box {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  min-height: 50vh;
  line-height: 1.6;
}

.text-box {
  color: white;
  text-align: left;
}

.text-box h1 {
  color: white;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.text-box h2 {
  color: white;
  font-size: 2.0em;
  /* margin-bottom: 1em; */
}

.text-box p {
  color: white;
  font-size: 1.1em;
  margin-bottom: 1em;
  text-indent: 2em;
}

.service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 1.0em;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  line-height: 1.6;
}

.text-box-service {
  color: white;
  text-align: left;
}

.text-box-service h1 {
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.text-box-service p {
  color: white;
  font-size: 1em;

}

.service-icon {
    filter: invert(100%);
}