.footer {
  background-color: #71AA37;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  max-width: 100%;
  max-height: 100px;
  height: auto;
}

.footer-logo p {
  font-weight: bold;
}

.footer-contact a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.footer-address {
  text-align: right;
}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-address {
    text-align: center;
  }
}
