header {
  background-color: #003049;
  color: white;
  padding: 10px 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 1.5em;
  font-weight: bold;
}

.header-logo img {
  max-width: 100%;
  max-height: 100px;
  height: auto;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-menu a {
  color: white;
  text-decoration: none;
}

.header-menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .header-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #003049;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 10;
  }

  .header-menu-open {
    display: flex;
    top: 100%;
  }

  .header-menu-button {
    display: block;
  }
}
